In [72]:
import pandas as pd

df = pd.DataFrame([[1,2],[4,5]],columns=['A','B'])
df
df.iloc[:,0:]

   A  B
0  1  2
1  4  5

In [ ]:
#The first coloumn is called index
df.index.to_list()

#to get info about dataframe
df.info()

In [73]:
#loading data from url and using parquet as file size is small
df_parquet = pd.read_parquet('results.parquet')
df_parquet.head(5)

#To save to different formats 

# df.to_csv()
df_parquet.to_csv('results.csv')

In [ ]:
poke = pd.read_csv('pokemon_data.csv')

display(poke)
# To get info about dataframe
poke.info()

#To get statistical info about dataframe
poke.describe()

In [ ]:
#Read headers
poke.columns

#read each column
poke[['Name','HP']][0:6]

#read each row
poke.iloc[1]

#read a specific location R,C
poke.iloc[2,1]
#or

for  index, row in poke.iterrows():
    print(index,row['Name'])

#Based on textual information
poke.loc[poke["Type 2"] == "Poison"]

poke.describe()

In [ ]:
#sorting
poke.sort_values('Name')

# #Delete 
# del poke["Type 1"]
# poke.head(5)

## Bios

In [89]:
df_parquet[df_parquet['year']>2020][['discipline','year']]

                     discipline    year
173195  Speed Skating (Skating)  2022.0
173196  Speed Skating (Skating)  2022.0
213793   Alpine Skiing (Skiing)  2022.0
213794   Alpine Skiing (Skiing)  2022.0
215139     Ski Jumping (Skiing)  2022.0
...                         ...     ...
308403                     Luge  2022.0
308404   Alpine Skiing (Skiing)  2022.0
308405   Alpine Skiing (Skiing)  2022.0
308406   Alpine Skiing (Skiing)  2022.0
308407                     None  2022.0

[4744 rows x 2 columns]